*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(113, 9, 182);
    height: 1000px;

}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}


#botao-acao{
   margin-top: 10px;
}
